@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500;600&display=swap");

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  margin-top: 115px;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}

.paragrapgh {
  margin-top: 8px;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
