.footerImage {
  width: fit-content;
  /* width: 100%; */
  margin-left: 0px;
  margin-right: 0px;
}
.footerImage img {
  position: relative;
  right: 50px;
  width: fit-content;
  /* width: 100%; */
  margin-left: 0px;
  margin-right: 0px;
  z-index: 1;
}

.ellipsesas {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  background: linear-gradient(180deg, #9747ff 0%, #7c62ff 100%);
  border-radius: 50%;
  position: absolute;
  top: 900px;
  z-index: 2;
  right: 70px;
}
