.footerImage {
  position: absolute;
  width: 1633px;
  /* width: 100%; */
  height: 890px;
  left: -181px;

  top: 250px;

  /* background: #8c76ff; */
}
/* .ellipse {
  position: absolute;
  left: 1309px;
  
  top: 1000px;
  bottom: 56px;

  background: linear-gradient(180deg, #9747ff 0%, #7c62ff 100%);
  box-shadow: 24px 51px 23px rgba(0, 0, 0, 0.01),
    13px 29px 19px rgba(0, 0, 0, 0.05), 6px 13px 14px rgba(0, 0, 0, 0.09),
    1px 3px 8px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
} */
.ellipse {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  background: linear-gradient(180deg, #9747ff 0%, #7c62ff 100%);
  border-radius: 50%;
  position: absolute;
  left: 1309px;

  top: 960px;
  /* bottom: 102px; */
}
