.page4 {
  margin-top: 37px;
}
.FilterPlusRow {
  margin-top: 43px;
  display: flex;
  justify-content: center;
}
.filter {
  flex: 1;
  /* position: relative;
  top: 125px; */
}
.transaction {
  flex: 3;
  /* position: relative;
  top: 125px; */
}
