@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap");
.progressBar {
  /* position: absolute; */
  /* top: 182px; */
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
  width: 715px;
  align-items: center;
  margin-top: 106px;
}

.circles {
  font-weight: 700;
  font-family: "Figtree";
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 39px;
  height: 39px;
  background-color: #d3b0ff;
  border-radius: 50%;
}
.progressLine {
  width: 231px;
  height: 0px;
  border: 2px solid #d3b0ff;
}
.progressText {
  font-size: 13px;
}
.circleandText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
