@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap");

/* Price section */
.priceAndBooking {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  gap: 93px;
  margin-bottom: 200px;
}

.priceDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  box-shadow: 0px 196px 78px rgba(21, 31, 72, 0.01),
    0px 110px 66px rgba(21, 31, 72, 0.05), 0px 49px 49px rgba(21, 31, 72, 0.09),
    0px 12px 27px rgba(21, 31, 72, 0.1), 0px 0px 0px rgba(21, 31, 72, 0.1);
  border-radius: 14px;
  flex: 1;
}
.priceTitle {
  font-weight: 700;
  font-size: 23px;
}
.priceBtn {
  padding: 9.02891px;
  gap: 9.03px;

  width: 104.82px;

  background: #e5e6e6;
  border-radius: 23px;
  margin-left: 21px;
}

.sellerQuota {
  color: #808080;
  margin-top: 41px;
}
.sellerQuotaSpan {
  margin-left: 107px;
}
.priceDtsUnderline {
  margin: 20px 26px;
  /* position: absolute; */
  width: 272px;
  height: 0px;
  /* left: 39px;
  top: 144px; */

  border: 1px solid rgba(179, 179, 179, 0.5);
}
.DutiesAndTaxes {
  /* margin-top: 26px; */
  color: #808080;
  font-size: 16px;
}
.DutiesAndTaxesSpan {
  margin-left: 63px;
}

.Insurance {
  margin-top: 15px;
  color: #808080;
  font-size: 16px;
}
.InsuranceSpan {
  margin-left: 147px;
}
.BasedOncost {
  font-size: 13px;
  color: #808080;
}

.BasedOncostUnderLine {
  margin-top: 26px;
  margin-bottom: 27px;
  width: 272px;
  height: 0px;

  border: 1px solid rgba(179, 179, 179, 0.5);
}
.promoCode {
  color: #808080;
  font-size: 16px;
}
.promoCode span {
  color: #6f57e9;
  text-decoration: underline;
}
.Platformfee {
  /* margin-top: 15px; */
  color: #808080;
  font-size: 16px;
}
.PlatformfeeSpan {
  margin-left: 132px;
}
.PlatformfeeUnderline {
  margin-top: 24px;
  margin-bottom: 26px;
  width: 272px;
  height: 0px;

  border: 1px solid rgba(179, 179, 179, 0.5);
}

.totalPrice {
  font-weight: 700;
  font-size: 28px;
  color: #000000;
}
.totalPriceSpan {
  margin-left: 80px;
}
.cheackoutBtn {
  margin-top: 66px;
  margin-bottom: 32px;
}
.cheackoutBtn button {
  cursor: pointer;
  padding: 10px;
  gap: 10px;
  border: none;
  width: 276px;
  height: 48px;
  background: #9747ff;
  border-radius: 14px;
  font-weight: 700;
  font-size: 23px;
  color: #ffffff;
}

/* Booking summary section */
.bookingSummary {
  flex: 2.5;
}
.bookingSumm {
  width: 907px;
  height: 170px;

  background: #ffffff;
  /* Cards shadow */

  box-shadow: 0px 196px 78px rgba(21, 31, 72, 0.01),
    0px 110px 66px rgba(21, 31, 72, 0.05), 0px 49px 49px rgba(21, 31, 72, 0.09),
    0px 12px 27px rgba(21, 31, 72, 0.1), 0px 0px 0px rgba(21, 31, 72, 0.1);
  border-radius: 14px;

  /* Inside auto layout */
}
.bookingTitle {
  margin-top: 30px;
  margin-left: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;

  color: #000000;
}
.express {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.express div {
  font-size: 13px;
  font-weight: 600;
}
.DelhiShanghai {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 90px;
  margin-right: 90px;
}
.DelhiShanghaiLine {
  width: 633px;
  height: 0px;
  border: 1.5px solid #000000;
}

.destination {
  font-weight: 600;
  font-size: 19px;
  line-height: 120%;
  justify-content: space-between;
  display: flex;
  /* margin-left: 80px;
  margin-right: 50px; */
  margin: 0px 60px;
  margin-top: 20px;
}
.delhi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shanghai {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weightAndLoad {
  display: flex;
  margin-top: 10px;
}
.weightBooking {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  padding-bottom: 18px;
  /* justify-content: space-between; */
  gap: 15px;
  align-items: center;

  width: 232px;
  /* height: 165px; */

  background: #ffffff;
  /* Cards shadow */

  box-shadow: 0px 196px 78px rgba(21, 31, 72, 0.01),
    0px 110px 66px rgba(21, 31, 72, 0.05), 0px 49px 49px rgba(21, 31, 72, 0.09),
    0px 12px 27px rgba(21, 31, 72, 0.1), 0px 0px 0px rgba(21, 31, 72, 0.1);
  border-radius: 14px;
}
.loadBookig {
  padding-bottom: 6px;
  padding-top: 12px;
  margin-left: 10px;
  flex: 2.86;
  width: 664px;
  height: 165px;
  background: #ffffff;
  /* Cards shadow */
  box-shadow: 0px 196px 78px rgba(21, 31, 72, 0.01),
    0px 110px 66px rgba(21, 31, 72, 0.05), 0px 49px 49px rgba(21, 31, 72, 0.09),
    0px 12px 27px rgba(21, 31, 72, 0.1), 0px 0px 0px rgba(21, 31, 72, 0.1);
  border-radius: 14px;
}
.titleweight {
  font-weight: 600;
  font-size: 19px;
  line-height: 120%;
  color: #5c5c5c;
}
.weightValue {
  font-weight: 700;
  font-size: 19px;
  line-height: 120%;

  color: #000000;
}
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}
.LoadimageDesc {
  display: flex;
  justify-content: center;
}
.loadTitle {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 120%;
  margin-top: 8px;
  margin-left: 26px;
  color: #5c5c5c;
}
.bookingScale {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  text-align: center;

  color: #000000;
}
.LoadimageDesc {
  display: flex;
  margin-left: 65px;
  margin-top: 6px;

  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;

  color: #000000;
}
.imageTitle {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-top: 8px;

  color: #000000;
}

/* last Row start */

.LastRow {
  display: flex;
  margin-top: 10px;
}
.SellerPrimetimeWorldwide {
  flex: 1;
  width: 443px;
  height: 187px;
  margin-right: 21px;
  background: #ffffff;

  box-shadow: 0px 196px 78px rgba(21, 31, 72, 0.01),
    0px 110px 66px rgba(21, 31, 72, 0.05), 0px 49px 49px rgba(21, 31, 72, 0.09),
    0px 12px 27px rgba(21, 31, 72, 0.1), 0px 0px 0px rgba(21, 31, 72, 0.1);
  border-radius: 14px;
}
.InsuranceLastRow {
  flex: 1;
  width: 443px;
  height: 187px;

  background: #ffffff;

  box-shadow: 0px 196px 78px rgba(21, 31, 72, 0.01),
    0px 110px 66px rgba(21, 31, 72, 0.05), 0px 49px 49px rgba(21, 31, 72, 0.09),
    0px 12px 27px rgba(21, 31, 72, 0.1), 0px 0px 0px rgba(21, 31, 72, 0.1);
  border-radius: 14px;
}
.TitlePrimetimeWorldwide {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  color: #5c5c5c;
  margin-top: 28px;
  margin-left: 26px;
}
.ImagePrimetimeWorldwide {
  display: flex;
  margin-top: 38px;
  justify-content: center;
}

.TitleInsuranceLastRow {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  color: #5c5c5c;
  margin-top: 28px;
  margin-left: 26px;
}
.ImageInsuranceLastRow {
  display: flex;
  margin-top: 38px;
  justify-content: center;
}
.ellipseCheackOut {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  background: linear-gradient(180deg, #9747ff 0%, #7c62ff 100%);
  border-radius: 50%;
  position: absolute;
  top: 805px;
  right: 50px;
  z-index: 2;
}
