@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Figtree";
}
.container {
  margin: 0px 33px;
  padding: 0;
}
