.Navbar4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trackShipmate {
  display: flex;
  align-items: center;
  gap: 32px;
}
.trackShipmate button {
  padding: 12px 15px;
  background: #6f57e9;
  border-radius: 13px;
  border: none;
  font-weight: 600;
  font-size: 19px;
  line-height: 120%;
  color: #ffffff;
}
